html,
body {
  font-family: 'Pavanam', sans-serif;
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  /* text-align: center; */
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
p {
  font-size: 18pt;
}
small {
  font-size: 10pt;
}
.fa {
  color: #666;
}
li > a > .fa:hover {
  color: #aaa;
}
#about {
  background-color: #444;
}
