body {
  padding-top: 98px;
  padding-bottom: 30px;
}

.container-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.container-showcase > p > .btn {
  margin: 5px 0;
}

.container-showcase .navbar .container {
  width: auto;
}

.row {
  padding-top: 20px;
}
