<!DOCTYPE html>
<html lang="en">
<head>
<title>Andrew Davies</title>
<!-- Ze Bootystraps -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/main.css">
<link rel="stylesheet" href="static/narrow.css">
<link rel="stylesheet" href="static/padding.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Andrew Davies</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#about">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <!-- Contact links with fancy icons! -->
      <ul class="nav navbar-nav navbar-right">
        {% for c in contact %}
        <li>
          <a href="{{ c.link }}" role="button">
            <i class="fa {{ c.icon }} fa-2x"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div><!--./navbar-->

<!-- Main stuff -->
<div class="container">
  <div id="about" class="container jumbotron">
    <div class="col-md-3">
      <img src="static/mahface.jpeg" title="Help!  I'm trapped in here!" class="img-thumbnail img-responsive"></img>
    </div>
    <div class="col-md-9">
      <h2>Oh hi there!</h2>
      <p>
      You appear to have stumbled upon my personal page, which is not yet done.
      In due time my friend.... In due time.  Though don't fret!  The text here is no longer a placeholder!
      </p>
    </div>
  </div>
  <div id="projects" class="row center-block">
    <h1 class="text-center">Projects</h1>
    <hr>
    {% for proj in projects %}
      <div class="row">
        <div class="col-md-12">
          {% if proj.pic_link is defined %}
            <a href={{proj.pic_link}}>
          {% endif %}
          <img class="img-thumbnail img-responsive center-block" src="static/{{ proj.pic }}" title="{{ proj.pic_title }}"></img>
          {% if proj.pic_link is defined %}
            </a>
          {% endif %}
        </div>
        <div class="col-md-12">
          <h2>{{ proj.title }}</h2>
          {% for p in proj.paragraphs %}
            <p>
            {{ p|safe }}
            </p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

  <div id="contact" class="row">
    <div class="col-md-12">
      <h1 class="text-center">Contact</h1>
      <hr>
      <p>
        All contact info is on the top left.  Just click on one of corresponding icons.
      </p>
      <p>
        If you're a recruiter and you'd like to contact me, please send messages to my LinkedIn
        account so I can ignore them.
      </p>
    </div>
  </div>

  <!-- Legalese -->
  <div id="legalese" class="row">
    <div class="col-mod-10">
      <p class="text-center name"><small>&copy; Andrew Davies 2014</small></p>
      <p class="text-center">
        <small>
          This crap runs on
          <a href="http://getbootstrap.com/">Bootstrap</a>,
          <a href="http://flask.pocoo.org/">Flask</a>,
          <a href="http://jquery.com/">jQuery</a>, and
          <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
        </small>
      </p>
    </div>
  </div><!--./legalese -->

</div>
<script>
$(document).ready(function() {
  // Smooth scroll to any hash marker.
  $('a[href^="#"]').on('click', function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').stop().animate({
      'scrollTop': $(target).offset() ? $(target).offset().top : 0
    }, 900, 'swing', function() {
      window.location.hash = target;
    });
  });
});
</script>
</body>
</html>
