<!DOCTYPE html>
<html lang="en">
<head>
<title>Andrew Davies</title>
<!-- Ze Bootystraps -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/main.css">
<link rel="stylesheet" href="static/padding.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Andrew Davies</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#about">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <!-- Contact links with fancy icons! -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://twitter.com/A_W_Davies">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/awdavies">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div><!--./navbar-->

<!-- Main stuff -->
<div class="container" style="width: 80%">
  <div id="about" class="container jumbotron">
    <div class="col-md-3">
      <img src="static/mahface.jpeg" title="Help!  I'm trapped in here!" class="img-thumbnail img-responsive"></img>
    </div>
    <div class="col-md-9">
      <h2>Oh hi there!</h2>
      <p>
      You appear to have stumbled upon my personal page, which is not yet done.
      In due time my friend.... In due time.  Meanwhile, enjoy some placeholder text (your ol' pal Lorem Ipsum)!
      </p>
    </div>
  </div>
  <div id="projects" class="row">
    <h1 class="text-center">Projects</h1>
    <hr>
    <div class="row">
    <div class="col-md-4">
      <img class="img-thumbnail img-responsive" src="static/grayson_rocket.jpg" title="Rocket launch in Black Rock, March 2014 (though I was there, I did not take this photo)."></img>
    </div>
    <div class="col-md-8">
      <h2>Rocketry</h2>
      <p>While I haven't been exposed to too much other than carbon fibering a few fins, sliding an igniter into an engine, and programming for various small-scale flight controllers, I have been involved in several rocketry projects.</p>
      <p>During my senior year at the University of Washington, I helped put together a three stage rocket (which gloriously exploded on the launchpad), and program a C library for a PIC24 meant to replace an old ASM flight control lib.  I also soldered together several boards meant to house our PIC24's, and put together a whole GPS-enabled flight control system with some fiberglass, wood, and a ton of epoxy (this rocket also exploded, so I never got to find out if my work was functional).</p>
      <p>Recently I went with a group of rocketry enthusiasts at my workplace and helped on the embedded systems side of things.

      All development was done in the desert without internet, which proved quite challenging.  For the short time I was there, I helped hook up <a href="http://beagleboard.org/bone">BeagleBone</a> to a <a href="http://www.st.com/st-web-ui/static/active/en/resource/technical/document/datasheet/DM00057547.pdf">LSM303D</a> acclerometer via I2C.

      I also implemented a simple JavaScript interface (BeagleBone uses some embedded friendly extensions to NodeJS) to control a pair of stepper motors behind a switch.  The plan was to enable remote calibration of a large launch rail, enabling the team to set its angle based on wind speed data received via weather balloon.

      As of now this side project is still ongoing&mdash;there simply wasn't enough time to test the setup while we were out in the desert.</p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail img-responsive" src="static/stalker_louie82y_with_logo.png" title="Photo credit goes to Louie82Y"></img>
      </div>
      <div class="col-md-8">
        <h2>Vidya Gaems</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div id="contact" class="row">
    <div class="col-md-12">
      <h1 class="text-center">Contact</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div id="legalese" class="row">
    <div class="col-mod-10">
      <p class="text-center name"><small>&copy; Andrew Davies 2014</small></p>
      <p class="text-center">
        <small>
          This crap runs on
          <a href="http://getbootstrap.com/">Bootstrap</a>,
          <a href="http://flask.pocoo.org/">Flask</a>,
          <a href="http://jquery.com/">jQuery</a>, and
          <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
        </small>
      </p>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  // Smooth scroll to any hash marker.
  $('a[href^="#"]').on('click', function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').stop().animate({
      'scrollTop': $(target).offset() ? $(target).offset().top : 0
    }, 900, 'swing', function() {
      window.location.hash = target;
    });
  });
});
</script>
</body>
</html>
