<!DOCTYPE html>
<html lang="en">
<head>
<title>Andrew Davies</title>
<!-- Ze Bootystraps -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/main.css">
<link rel="stylesheet" href="static/padding.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Andrew Davies</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#about">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <!-- Contact links with fancy icons! -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://twitter.com/A_W_Davies">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/awdavies">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div><!--./navbar-->

<!-- Main stuff -->
<div class="container" style="width: 80%">
  <div id="about" class="row jumbotron">
    <div class="col-md-3">
      <img src="static/mahface.jpeg" title="Help!  I'm trapped in here!" class="img-thumbnail img-responsive"></img>
    </div>
    <div class="col-md-9">
      <h2>Oh hi there!</h2>
      <p>
      You appear to have stumbled upon my personal page, which is not yet done.
      In due time my friend.... In due time.  Meanwhile, enjoy some placeholder text (your ol' pal Lorem Ipsum)!
      </p>
    </div>
  </div>
  <div id="projects" class="row">
    <h1 style="text-align: center">Projects</h1>
    <hr>
    <div class="col-md-4">
      <img class="img-thumbnail img-responsive" src="static/grayson_rocket.jpg" title="Rocket launch in Black Rock, March 2014 (though I was there, I did not take this photo)."></img>
    </div>
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div id="contact" class="row">
    <div class="col-md-12">
      <h1 style="text-align: center">Contact</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div id="legalese" class="row">
    <div class="col-mod-10">
      <p class="text-center name"><small>&copy; Andrew Davies 2014</small></p>
      <p class="text-center">
        <small>
          This crap runs on
          <a href="http://getbootstrap.com/">Bootstrap</a>,
          <a href="http://flask.pocoo.org/">Flask</a>,
          <a href="http://jquery.com/">jQuery</a>, and
          <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
        </small>
      </p>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  // Smooth scroll to any hash marker.
  $('a[href^="#"]').on('click', function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').stop().animate({
      'scrollTop': $(target).offset() ? $(target).offset().top : 0
    }, 900, 'swing', function() {
      window.location.hash = target;
    });
  });
});
</script>
</body>
</html>
